body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.logo{
    display: flex;
    flex-direction: row;
}

.button {
    width: 198px;
    height: 52px;
    background: #419ED7;
    border: 1px solid #419ED7;
    margin: 10px;
    padding: 10px;

    font-family: 'Averia Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;

}


h1 {
    font-family: 'Averia Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;
    color: #419ED7;
    margin: 0;
}

header {
    background-color: #8FE1D9;
    height: 87px;
    top: 0;
}

.icon {
    width: 51px;
    height: 51px;
}

h2 {
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-family: 'Averia Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 76px;
    text-align: center;

    color: #419ED7;
}

.section {
    background-image: linear-gradient(to bottom,  rgba(117, 136, 160, 0.85), rgba(202, 204, 206, 0.85), rgba(255, 255, 255, 0.85)),
    url("../assets/backvac.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 720px;
    margin: 0;
    padding: 0x;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

